<nav class="nav">
    <div class="nav__logo">
        x
    </div>
    <div class="nav__items">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav__item"> Home
        </a>
        <a routerLink="/builder" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" href="#"
            class="nav__item"> Content Type Builder </a>
        <a routerLink="/editor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav__item">
            Content Editor </a>
        <mat-icon>more_vert</mat-icon>
    </div>

</nav>