<app-navbar></app-navbar>

<main class="main">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil maxime vero velit aliquid! Quod, perferendis
  praesentium aliquam perspiciatis sequi in atque commodi nisi velit eveniet corporis facere delectus cupiditate
  exercitationem reiciendis minima odio neque natus omnis assumenda? Iusto a quas itaque minus perspiciatis eius
  veritatis incidunt, fugit quam eaque qui amet dolor rem! Sint quaerat ut cupiditate sapiente amet praesentium et
  dolores nobis dicta adipisci voluptate, dolorem maiores perferendis, voluptatem ipsum perspiciatis porro! Eos iure
  nemo molestias. Nobis autem iure ullam voluptates libero. Mollitia unde est consectetur odit eaque, in, obcaecati
  facilis, laboriosam vero ipsa quas dicta voluptas at non?
</main>