<mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav mode="side" [(opened)]="sidebarOpen" [fixedInViewport]="sidebarFixed">
        <app-type-list [typesList]="typesList" (contentTypeSecleted)="contentTypeSelected($event)"></app-type-list>
    </mat-sidenav>

    <mat-sidenav-content class="main">
        <app-type-builder *ngIf="selectedContentType" [contentType]="selectedContentType"
            (propAdded)="propAdded($event)" (propRemoved)="propRemoved($event)"></app-type-builder>
    </mat-sidenav-content>
</mat-sidenav-container>