<div class="container">
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav mode="side" [(opened)]="isOpen" [fixedInViewport]="true">
            Sidenav content
        </mat-sidenav>

        <mat-sidenav-content>
            this is main content

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam consequuntur non earum cupiditate
            reiciendis nobis quasi ab iure, rerum nemo inventore itaque vel? Placeat dolores vero ipsa laboriosam iusto
            minima magni, voluptas architecto maiores, ducimus id excepturi a nostrum, sint numquam quas officia amet
            animi aliquam magnam? Quaerat reprehenderit molestias velit repudiandae quisquam similique, quibusdam magni
            dolor tempora veritatis dignissimos dolorem cumque laboriosam beatae perspiciatis corrupti aliquid expedita
            blanditiis porro assumenda non doloremque? Animi beatae eligendi perspiciatis totam at, non molestiae, eius
            quibusdam inventore suscipit culpa ipsa. Est explicabo placeat rerum unde voluptas consectetur ex similique
            quaerat ut ducimus, dolores ipsam, incidunt atque mollitia quidem dolorum sapiente perspiciatis animi
            recusandae? Dolor repellat eos provident eaque itaque exercitationem voluptatum alias distinctio ipsum error
            facilis doloremque iusto aperiam explicabo est dolore quo atque, commodi enim laboriosam ipsa laborum ut
            sequi. Nesciunt modi, saepe recusandae reiciendis, aliquid nam molestias iste, dolor tempore numquam dolore
            in eum. Quo fugiat repellat dignissimos dolor doloremque quisquam minus ad, perferendis accusantium quos
            expedita inventore. Laudantium deleniti cumque rerum itaque veniam corrupti molestiae atque iure odit quod,
            nulla ad. Et quis natus officiis iure id cupiditate tenetur modi delectus, eum eos sapiente vel dolores
            nihil velit. Fugit temporibus cupiditate mollitia itaque illo officia, quas explicabo magni dolore repellat
            fugiat excepturi minus quae atque qui ipsam odio velit laborum omnis, beatae ex! Possimus placeat earum
            libero ad ut, atque quis temporibus quam veritatis ab eum, iste veniam hic a nisi repellat quidem? Veritatis
            cupiditate quo suscipit a, porro, nulla laboriosam libero aspernatur quam nobis magnam unde id perspiciatis
            eaque hic iure tempora! Omnis laudantium dolorum, nihil vel quisquam ad quaerat, amet commodi ipsam,
            temporibus explicabo quia minima debitis. Officiis nesciunt sapiente sequi, qui sint cumque cupiditate nam
            harum odit. Est nisi ab eligendi, officiis enim nesciunt maxime quam dolorem cum voluptatibus consequatur
            neque possimus aspernatur, unde nemo quaerat, animi dicta non! Veniam vel voluptas quaerat, consequuntur in
            doloremque beatae earum voluptates ratione blanditiis eaque, aut culpa iusto porro magnam magni eligendi.
            Quisquam obcaecati architecto doloribus nam natus, eius autem laboriosam cumque culpa aspernatur nisi illum
            error voluptate cupiditate suscipit. Laudantium optio rem dignissimos deserunt ipsum facilis, modi tenetur
            enim, perferendis ex cupiditate excepturi expedita illum! Quo sit, doloribus ipsa ratione fuga amet? In unde
            quos error tempore libero facere quas voluptate dolore sunt exercitationem, asperiores quasi ex tenetur
            perspiciatis omnis officia deleniti, porro soluta cupiditate? Amet ex eligendi recusandae incidunt
            laudantium exercitationem a, voluptatibus aperiam voluptatum? Natus veritatis dignissimos enim numquam
            inventore similique impedit nobis dolore obcaecati ducimus iusto ipsum neque quisquam repellat minima quia
            exercitationem qui, amet sequi dolor, eveniet in animi! Nisi ab aliquid ducimus, dicta aspernatur in
            consequuntur tenetur laudantium velit sapiente odio voluptas, at perspiciatis placeat a soluta delectus quia
            quos rerum distinctio? Voluptatem quod officia corporis excepturi. Voluptatum odit modi corporis reiciendis
            distinctio, eaque debitis libero consequuntur atque, amet nobis numquam iste asperiores harum et veritatis
            suscipit fugiat magnam repellat laboriosam minus hic repellendus delectus sapiente! Aliquid ducimus
            voluptates obcaecati facere illo error quaerat!

            blanditiis eaque, aut culpa iusto porro magnam magni eligendi.
            Quisquam obcaecati architecto doloribus nam natus, eius autem laboriosam cumque culpa aspernatur nisi illum
            error voluptate cupiditate suscipit. Laudantium optio rem dignissimos deserunt ipsum facilis, modi tenetur
            enim, perferendis ex cupiditate excepturi expedita illum! Quo sit, doloribus ipsa ratione fuga amet? In unde
            quos error tempore libero facere quas voluptate dolore sunt exercitationem, asperiores quasi ex tenetur
            perspiciatis omnis officia deleniti, porro soluta cupiditate? Amet ex eligendi recusandae incidunt
            laudantium exercitationem a, voluptatibus aperiam voluptatum? Natus veritatis dignissimos enim numquam
            inventore similique impedit nobis dolore obcaecati ducimus iusto ipsum neque quisquam repellat minima quia
            exercitationem qui, amet sequi dolor, eveniet in animi! Nisi ab aliquid ducimus, dicta aspernatur in
            consequuntur tenetur laudantium velit sapiente odio voluptas, at perspiciatis placeat a soluta delectus quia
            quos rerum distinctio? Voluptatem quod officia corporis excepturi. Voluptatum odit modi corporis reiciendis
            distinctio, eaque debitis libero consequuntur atque, amet nobis numquam iste asperiores harum et veritatis
            suscipit fugiat magnam repellat laboriosam minus hic repellendus delectus sapiente! Aliquid ducimus
            voluptates obcaecati facere illo error quaerat!
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>